/* You can add global styles to this file, and also import other style files */
.list-pf-container {
       background-color: burlywood;
}

.pfng-tree-list-dnd-slot {
    padding-top: 15px;
    background-color: beige;
}
h1 {
    background-color: beige;
}